<br><br>
<br>

<!--<mat-card style="width:80%;text-align: center;margin-left: 10%">-->
<!--  <div class="example-button-row">-->
<!--    <button mat-raised-button class="Basic" routerLink="/main/tool-in">-->
<!--      <img src="../../../assets/icon/tool_out.png" style="width: 50px;" alt=""> <br>-->
<!--      <p class="lable"> Tool In </p>-->
<!--    </button>-->
<!--    <button mat-raised-button class="Basic" routerLink="/main/tool-out">-->
<!--      <img src="../../../assets/icon/tool_in.png" style="width: 50px;" alt=""> <br>-->
<!--      <p class="lable"> Tool Out </p>-->
<!--    </button>-->
<!--    <button mat-raised-button class="Basic" routerLink="/main/tool-available">-->
<!--      <img src="../../../assets/icon/ok.png" style="width: 50px;" alt=""> <br>-->
<!--      <p class="lable"> Available </p>-->
<!--    </button>-->
<!--    <button mat-raised-button class="Basic" routerLink="/main/tool-transaction">-->
<!--      <img src="../../../assets/icon/transaction.png" style="width: 50px;" alt=""> <br>-->
<!--      <p class="lable"> Transaction </p>-->
<!--    </button>-->
<!--    <button mat-raised-button class="Basic" routerLink="/main/tool-history">-->
<!--      <img src="../../../assets/icon/history.ico" style="width: 50px;" alt=""> <br>-->
<!--      <p class="lable"> Tool History </p>-->
<!--    </button>-->
<!--  </div>-->
<!--</mat-card>-->

<mat-grid-list cols="5" rowHeight="3:2" gutterSize="20px">
  <mat-grid-tile style="background: blueviolet;visibility: hidden">1</mat-grid-tile>

  <mat-grid-tile class="z-depth-3" routerLink="/main/tool-in" >
    <div>
      <img src="../../../assets/icon/tool_out.png" style="width: 20%;" alt=""><br>
      <label> Tool In </label>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class="z-depth-3" routerLink="/main/tool-out" >
    <div>
      <img src="../../../assets/icon/tool_in.png" style="width: 20%;" alt=""><br>
      <label> Tool Out </label>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class="z-depth-3" routerLink="/main/tool-available" >
    <div>
      <img src="../../../assets/icon/ok.png" style="width: 20%;" alt=""><br>
      <label> Available </label>
    </div>
  </mat-grid-tile>

  <mat-grid-tile style="background: blueviolet;visibility: hidden">1</mat-grid-tile>

</mat-grid-list>

<br><br>

<mat-grid-list cols="5" rowHeight="3:2" gutterSize="20px" >
  <mat-grid-tile style="background: blueviolet;visibility: hidden">1</mat-grid-tile>

<!--  <mat-grid-tile class="z-depth-3" routerLink="/main/tool-history" >-->
<!--    <div>-->
<!--      <img src="../../../assets/icon/history.ico" style="width: 30%;" alt=""><br>-->
<!--      <label> Tool History </label>-->
<!--    </div>-->
<!--  </mat-grid-tile>-->

  <mat-grid-tile class="z-depth-3" routerLink="/main/tool-transaction" >
    <div>
      <img src="../../../assets/icon/transaction.png" style="width: 20%;" alt=""><br>
      <label> Transaction </label>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class="z-depth-3" routerLink="/main/settings/technician" >
    <div>
      <img src="../../../assets/icon/settings.png" style="width: 20%;" alt=""><br>
      <label> Settings </label>
    </div>
  </mat-grid-tile>

  <mat-grid-tile style="background: blueviolet;visibility: hidden">1</mat-grid-tile>

</mat-grid-list>

<br>
