.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-width1 {
  width: 20%;
}

.example-width2 {
  width: 30%;
}

.example-width3 {
  width: 33%;
}

.table-div{
  margin-left: 25%;
  margin-top: -28%;
}

.table-div2{
  margin-left: 60%;
  margin-top: -23%;
}

.button{
  font-size: 20px;
  font-weight: bold;
  background-color: darkgoldenrod;
  width: 100%;
  color: white;
}


.rdlbl{
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.rdlblM{
  font-size: 30px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}

.example-container {
  height: 300px;
  overflow: auto;
}
