<!--<br>-->

<!--<div class="content">-->
<!--  <h1>Admin</h1>-->
<!--</div>-->
<!--<br>-->

<!--<mat-card style="width:80%;text-align: center;margin-left: 10%">-->
<!--  <div class="example-button-row">-->
<!--    <button mat-raised-button class="Basic" routerLink="/admin-main/technician">-->
<!--      <img src="../../../assets/icon/tool_out.png" style="width: 50px;" alt=""> <br>-->
<!--      <p class="lable"> Technician </p>-->
<!--    </button>-->
<!--    <button mat-raised-button class="Basic" routerLink="/admin-main/category">-->
<!--      <img src="../../../assets/icon/tool_out.png" style="width: 50px;" alt=""> <br>-->
<!--      <p class="lable"> Category </p>-->
<!--    </button>-->
<!--    <button mat-raised-button class="Basic" routerLink="/admin-main/add-user">-->
<!--      <img src="../../../assets/icon/tool_out.png" style="width: 50px;" alt=""> <br>-->
<!--      <p class="lable"> User </p>-->
<!--    </button>-->
<!--    <button mat-raised-button class="Basic" routerLink="/admin-main/department">-->
<!--      <img src="../../../assets/icon/tool_out.png" style="width: 50px;" alt=""> <br>-->
<!--      <p class="lable"> Department </p>-->
<!--    </button>-->
<!--    <button mat-raised-button class="Basic" routerLink="/admin-main/tool">-->
<!--      <img src="../../../assets/icon/tool_out.png" style="width: 50px;" alt=""> <br>-->
<!--      <p class="lable"> Tool </p>-->
<!--    </button>-->
<!--  </div>-->
<!--</mat-card>-->


<!--&lt;!&ndash;<mat-grid-list cols="5" rowHeight="3:2" gutterSize="20px">&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-grid-tile style="background: blueviolet;visibility: hidden">1</mat-grid-tile>&ndash;&gt;-->

<!--&lt;!&ndash;  <mat-grid-tile class="z-depth-3" routerLink="/admin-main/technician" >&ndash;&gt;-->
<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="../../../assets/icon/tool_out.png" style="width: 20%;" alt=""><br>&ndash;&gt;-->
<!--&lt;!&ndash;      <label> Technician </label>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-grid-tile>&ndash;&gt;-->

<!--&lt;!&ndash;  <mat-grid-tile class="z-depth-3" routerLink="/admin-main/tool" >&ndash;&gt;-->
<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="../../../assets/icon/tool_in.png" style="width: 20%;" alt=""><br>&ndash;&gt;-->
<!--&lt;!&ndash;      <label> Tool </label>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-grid-tile>&ndash;&gt;-->

<!--&lt;!&ndash;  <mat-grid-tile class="z-depth-3" routerLink="/admin-main/add-user" >&ndash;&gt;-->
<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="../../../assets/icon/ok.png" style="width: 20%;" alt=""><br>&ndash;&gt;-->
<!--&lt;!&ndash;      <label> User </label>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-grid-tile>&ndash;&gt;-->

<!--&lt;!&ndash;  <mat-grid-tile style="background: blueviolet;visibility: hidden">1</mat-grid-tile>&ndash;&gt;-->

<!--&lt;!&ndash;</mat-grid-list>&ndash;&gt;-->

<!--&lt;!&ndash;<br><br>&ndash;&gt;-->

<!--&lt;!&ndash;<mat-grid-list cols="5" rowHeight="3:2" gutterSize="20px" >&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-grid-tile style="background: blueviolet;visibility: hidden">1</mat-grid-tile>&ndash;&gt;-->

<!--&lt;!&ndash;  <mat-grid-tile class="z-depth-3" routerLink="/admin-main/category" >&ndash;&gt;-->
<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="../../../assets/icon/history.ico" style="width: 30%;" alt=""><br>&ndash;&gt;-->
<!--&lt;!&ndash;      <label> Category </label>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-grid-tile>&ndash;&gt;-->

<!--&lt;!&ndash;  <mat-grid-tile class="z-depth-3" routerLink="/admin-main/department" >&ndash;&gt;-->
<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="../../../assets/icon/transaction.png" style="width: 20%;" alt=""><br>&ndash;&gt;-->
<!--&lt;!&ndash;      <label> Department </label>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-grid-tile>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;  <mat-grid-tile class="z-depth-3" routerLink="/main/settings/technician" >&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      <img src="../../../assets/icon/settings.png" style="width: 20%;" alt=""><br>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      <label> Settings </label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;  </mat-grid-tile>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;  <mat-grid-tile style="background: blueviolet;visibility: hidden">1</mat-grid-tile>&ndash;&gt;-->

<!--&lt;!&ndash;</mat-grid-list>&ndash;&gt;-->

<!--<br>-->



<!--<mat-card style="width:80%;text-align: center;margin-left: 10%">-->
<!--  <div class="example-button-row">-->
<!--    <button mat-raised-button class="Basic" routerLink="/main/tool-in">-->
<!--      <img src="../../../assets/icon/tool_out.png" style="width: 50px;" alt=""> <br>-->
<!--      <p class="lable"> Tool In </p>-->
<!--    </button>-->
<!--    <button mat-raised-button class="Basic" routerLink="/main/tool-out">-->
<!--      <img src="../../../assets/icon/tool_in.png" style="width: 50px;" alt=""> <br>-->
<!--      <p class="lable"> Tool Out </p>-->
<!--    </button>-->
<!--    <button mat-raised-button class="Basic" routerLink="/main/tool-available">-->
<!--      <img src="../../../assets/icon/ok.png" style="width: 50px;" alt=""> <br>-->
<!--      <p class="lable"> Available </p>-->
<!--    </button>-->
<!--    <button mat-raised-button class="Basic" routerLink="/main/tool-transaction">-->
<!--      <img src="../../../assets/icon/transaction.png" style="width: 50px;" alt=""> <br>-->
<!--      <p class="lable"> Transaction </p>-->
<!--    </button>-->
<!--    <button mat-raised-button class="Basic" routerLink="/main/tool-history">-->
<!--      <img src="../../../assets/icon/history.ico" style="width: 50px;" alt=""> <br>-->
<!--      <p class="lable"> Tool History </p>-->
<!--    </button>-->
<!--  </div>-->
<!--</mat-card>-->

<mat-grid-list cols="5" rowHeight="3:2" gutterSize="20px">
<!--  <mat-grid-tile style="background: blueviolet;visibility: hidden">1</mat-grid-tile>-->
<!--  <mat-grid-tile>-->
<!--    <div>-->
<!--      <img src="../../../assets/icon/tool_out.png" style="width: 10%;" alt=""><br>-->
<!--      <label> Technician </label>-->
<!--    </div>-->
<!--  </mat-grid-tile>-->

  <br><br><br>

  <mat-grid-tile class="z-depth-31" routerLink="/admin-main/admin-technician" >
    <div>
      <img src="../../../../assets/icon/admin/technician.png" style="width: 40%;" alt=""><br>
      <label> Technician </label>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class="z-depth-31" routerLink="/admin-main/admin-tool" >
    <div>
      <img src="../../../../assets/icon/admin/tool.png" style="width: 30%;" alt=""><br>
      <label> Tool </label>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class="z-depth-31" routerLink="/admin-main/admin-transaction" >
    <div>
      <img src="../../../../assets/icon/transaction.png" style="width: 30%;" alt=""><br>
      <label> Transaction </label>
    </div>
  </mat-grid-tile>



<!--  <mat-grid-tile class="z-depth-3" routerLink="/main/tool-available" >-->
<!--    <div>-->
<!--      <img src="../../../assets/icon/ok.png" style="width: 20%;" alt=""><br>-->
<!--      <label> Available </label>-->
<!--    </div>-->
<!--  </mat-grid-tile>-->

<!--  <mat-grid-tile style="background: blueviolet;visibility: hidden">1</mat-grid-tile>-->

</mat-grid-list>

<br><br>

<mat-grid-list cols="5" rowHeight="3:2" gutterSize="20px" >
  <mat-grid-tile style="background: blueviolet;visibility: hidden">1</mat-grid-tile>

  <!--  <mat-grid-tile class="z-depth-3" routerLink="/main/tool-history" >-->
  <!--    <div>-->
  <!--      <img src="../../../assets/icon/history.ico" style="width: 30%;" alt=""><br>-->
  <!--      <label> Tool History </label>-->
  <!--    </div>-->
  <!--  </mat-grid-tile>-->

  <mat-grid-tile class="z-depth-3" routerLink="/admin-main/add-user" >
    <div>
      <img src="../../../../assets/icon/admin/user.png" style="width: 30%;" alt=""><br>
      <label> User </label>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class="z-depth-3" routerLink="/admin-main/admin-department" >
    <div>
      <img src="../../../../assets/icon/admin/location.png" style="width: 30%;" alt=""><br>
      <label> Location </label>
    </div>
  </mat-grid-tile>

<!--  <mat-grid-tile class="z-depth-3" routerLink="/main/settings/technician" >-->
<!--    <div>-->
<!--      <img src="../../../assets/icon/settings.png" style="width: 20%;" alt=""><br>-->
<!--      <label> Department </label>-->
<!--    </div>-->
<!--  </mat-grid-tile>-->

  <mat-grid-tile style="background: blueviolet;visibility: hidden">1</mat-grid-tile>

</mat-grid-list>

<br>
