
.example-button-row{
  width: 100%;
  text-align: center;
}

.btn{
  margin-left: 20px;
  background-color: #002a6d;
  color: white;
  font-weight: bold;
}

.content-div{
  width: 100%;
  text-align: center;
}

.content-lbl{
  color: darkblue;
  font-size: 30px;
  font-weight: bold;
}

.example-container {
  width: 90%;
  height: 400px;
  overflow: auto;
  left: 5%;
}

