<mat-card class="example-button-row">
  <button mat-raised-button class="btn" routerLink="/main/dashboard" >
    <mat-icon>home</mat-icon>
  </button>
  <button mat-raised-button class="btn" routerLink="/main/settings/technician" >Technician</button>
  <button mat-raised-button class="btn" routerLink="/main/settings/tool" >Item</button>
  <button mat-raised-button class="btn" routerLink="/main/settings/department" >Location</button>
</mat-card>

<br>

<mat-card>
  <router-outlet></router-outlet>
</mat-card>
